<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:fragment="end">
    <script th:src="@{resources/js/bootstrap.min.js}"></script>
</th:block>