<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Hello, template</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
</head>
