<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags"
      xmlns:form="http://www.springframework.org/tags/form"
      layout:decorate="~{base}">
<head>
    <title>Add Listing | GameOn</title>
    <link rel="stylesheet" th:href="@{/resources/css/LandingPage.css}">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">

    <!--<h3>Welcome, Enter The Employee Details</h3>-->
    <!--<form:form method="POST" action="/register" modelAttribute="user">-->
    <!--<table>-->
    <!--<tr>-->
    <!--&lt;!&ndash;<td><form:label path="firstName">First Name</form:label></td>&ndash;&gt;-->
    <!--<td><form:input type="text" path="firstName" name="firstName" id="firstName"/></td>-->
    <!--&lt;!&ndash;<td><input type='text' class="form-control" name="username" placeholder="Username"</td>&ndash;&gt;-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><form:label path="lastName">Last Name</form:label></td>-->
    <!--<td><form:input path="lastName" name="lastName" id="lastName"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><form:label path="username">Username</form:label></td>-->
    <!--<td><form:input path="username" name="username" id="username"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><form:label path="password">Password</form:label></td>-->
    <!--<td><form:input path="password" name="password" id="password"/></td>-->
    <!--</tr>-->
    <!--<tr>-->
    <!--<td><input type="submit" value="Submit"/></td>-->
    <!--</tr>-->
    <!--</table>-->
    <!--</form:form>-->

    <h3>Welcome</h3>

    <form action="#" th:action="@{/AddListing}" th:object="${listing}" method="post">

        <div class="col-md-12">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" type="text" id="name" name="name" th:value="*{name}" />
            </div>

            <div class="form-group">
                <label>Description</label>
                <input class="form-control" type="text" id="description" name="description" th:value="*{description}" />
            </div>

            <div class="form-group">
                <label>Price</label>
                <input class="form-control" type="text" id="price" name="price" th:value="*{price}" />
            </div>

            <div class="form-group">
                <label>Keywords</label>
                <input class="form-control" type="text" id="keywords" name="keywords" th:value="*{keywords}" />
            </div>

            <button type="submit" class="btn btn-lg  btn-primary">List it!</button>


        </div>

    </form>

</div>
</body>
</html>
