<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Layout page</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.css}">
</head>
<body>
<section layout:fragment="content">
    <p>Page content goes here</p>
</section>
<th:block layout:fragment="modals"/>
<script th:src="@{/resources/js/jquery-3.2.1.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.js}"></script>
<script th:src="@{/resources/js/handlebars-v4.0.11.js}"></script>
<th:block layout:fragment="scripts"/>
</body>
</html>