<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/resources/css/LandingPage.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="intro-head">
        <div class="container">

            </br>
            </br>
            </br>
            </br>

            <div class="row">

                <div class="col-lg-12">

                    <div class="intro-message">

                        <div class="head-font">GameOn</div>

                    </div>
                </div>

            </div>

        </div>


    </div>

    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">

            <div class="navbar-header">
                </br>
                <div class="dropdown">
                    <a class="topnav head-font dropdown-toggle" type="button" data-toggle="dropdown">GameOn
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                        <li><a class="home" type="button" id="login" data-toggle="modal" data-target="#loginform">Login</a></li>
                        <li><a class="home" type="button" href="/register">Register</a></li>
                        <li>
                            <form method="POST" th:action="@{/perform_logout}">
                                <a class="home"
                                   onclick="this.parentNode.submit()">Logout</a>
                            </form>
                        </li>

                    </ul>
                </div>

                <!--<div class="dropdown">-->
                    <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example-->
                        <!--<span class="caret"></span></button>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">HTML</a></li>-->
                        <!--<li><a href="#">CSS</a></li>-->
                        <!--<li><a href="#">JavaScript</a></li>-->
                    <!--</ul>-->
                <!--</div>-->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="home">Home</a>
                    </li>
                    <li>
                        <a href="#about" class="home">About</a>
                    </li>
                    <li>
                        <a href="#service" class="home">Services</a>
                    </li>
                    <li>
                        <a href="#meet" class="home">Meet</a>
                    </li>

                    <li>
                        <a href="#joinus" class="home">Join Us</a>
                    </li>
                </ul>

            </div>

        </div>

    </nav>

    <a  name="about"></a>
    <div class="content-section-b">

        <div class="container">

            </br>
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="font-1">Start up project, apply the concept of C2C & social network in gaming context.</h2>
                    <p class="font-2">our team finds that in the context of gaming PC market, millions of gamers have trouble about dealing with their out-of-date gaming parts, renewing their hardware or having a try on the newest released graphics card. Honestly, gaming set-ups are always expensive, even a DIY system is not affordable for most of the plain people.</p>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive img-rounded" th:src="@{/resources/img/s1.jpg}"  alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a  name="service"></a>
    <div class="content-section-a">
        <div class="container">
            <row>
                <div class="text-center">
                    <div class="story">
                        OUR SERVICES
                    </div>
                </div>
            </row>
            </br>
            </br>
            </br>
            <div class="col-md-3">
                <div class="card">
                    <img class="img-rounded" th:src="@{/resources/img/1.jpg}" width=250px height=165px
                         alt="Card image cap">
                    </br>
                    </br>
                    </br>
                    <div class="card-block">
                        <div class="font-1">LEND YOUR OLD GAMING PARTS</div>
                        <div class="font-2">If you have any old or userless gaming PC parts, share it here and get
                            quick cash from it.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card">
                    <img class="img-rounded" th:src="@{/resources/img/2.jpg}" width=250px height=165px
                         alt="Card image cap">
                    </br>
                    </br>
                    </br>
                    <div class="card-block">
                        <div class="font-1">BUY YOUR DREAM GAMING PARTS</div>
                        <div class="font-2">Cannot afford your dream gaming PC parts? Why not try search here & get
                            it from experienced senior gamers?
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card">
                    <img class="img-rounded" th:src="@{/resources/img/3.jpg}" width=250px height=165px
                         alt="Card image cap">
                    </br>
                    </br>
                    </br>
                    <div class="card-block">
                        <div class="font-1">STUDIO PARTY</div>
                        <div class="font-2">Wanna join a studio party with your ideal gaming PC set-up? Come
                            register here.
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-3">

                <div class="card">
                    <img class="img-rounded" th:src="@{/resources/img/4.jpg}" width=250px height=165px
                         alt="Card image cap">
                    </br>
                    </br>
                    </br>
                    <div class="card-block">
                        <div class="font-1">Make Friends</div>
                        <div class="font-2">Come to our session, talk to gamers and experience the best set-up now!
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <a  name="meet"></a>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="font-1">Talk to the specialists Now</h2>
                    <p class="font-2">Go talk to the gaming specialist and share your gaming experience with them. Let they help you to plan and build your dream studio.  </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive img-rounded" th:src="@{/resources/img/s3.jpg}" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

    <a  name="joinus"></a>
    <div class="intro-header">
        <div class="container">

            </br>
            </br>
            </br>
            </br>

            <div class="row">

                <div class="col-lg-12">

                    <div class="intro-message">

                        <div class="join-font">Join Us Now</div>
                        </br>
                        </br>
                        </br>
                        <a href="/register"><button class="btn btn-info btn-md button-font">Get in Touch</button></a>

                    </div>

                </div>

            </div>

        </div>


    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#service">Services</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#meet">Meet</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#joinus">Join US</a>
                        </li>

                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Gameon 2017. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

</div>
<th:block layout:fragment="modals">
    <div class="modal fade" id="loginform" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="text-center">
                        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
                    </div>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <form method="POST" th:action="@{/perform_login}" th:object="${user}">
                        <div class="form-group">
                            <label>Username</label>
                            <input type='text' class="form-control"
                                   name="username" placeholder="Username"
                                   th:value="*{username}">
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type='password' class="form-control"
                                   name="password" placeholder="Password"
                                   th:value="*{password}">

                        </div>
                        <button type="submit" class="btn btn-success btn-block" name="login"><span
                                class="glyphicon glyphicon-off"></span> Login
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
