<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags"
      xmlns:form="http://www.springframework.org/tags/form"
      layout:decorate="~{base}">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/resources/css/Messenger.css}">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/resources/css/simple-sidebar.css}">
</head>
<body>
<div layout:fragment="content">



    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div class="col-md-4">

                        <img class="img-circle" height=60px width=60px th:src="@{/resources/img/lee.png}"/>

                    </div>
                    <div class="col-md-8 sidebar-font">

                        <!--<p th:text="${session.user.getFirstName()}" th:unless="${session == null}"></p> -->
                        <p th:text="${user.getFirstName()}"></p>
                        <!--<p th:text="${user.getLastName()}"></p>-->



                    </div>
                </li>
                </br>


                <li>
                    <a href="/messenger/inbox" class="sidebar-font">Inbox


                    </a>


                </li>
                <div class="col-md-12">
                    <div class="sidebar-line">
                    </div>
                </div>
                </br>
                </br>

                <li>
                    <a href="/messenger/outbox" class="sidebar-font">Outbox


                    </a>


                </li>
                <div class="col-md-12">
                    <div class="sidebar-line">
                    </div>
                </div>
                </br>
                </br>


                <li>
                    <a href="/messenger/trash" class="sidebar-font">Trash



                    </a>


                </li>
                <div class="col-md-12">
                    <div class="sidebar-line">
                    </div>
                </div>
                </br>
                </br>

                <li>
                    <a href="/messenger/star" class="sidebar-font">Star

                        

                    </a>


                </li>
                <div class="col-md-12">
                    <div class="sidebar-line">
                    </div>
                </div>
                </br>
                </br>

            </ul>

        </div>

        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div class="modal fade" id="newModal" role="dialog">
            <div class="modal-dialog">


                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">
                            New Message
                        </h3>
                    </div>

                    <div class="modal-body">
                        <!--<form action="#" th:action="@{/messenger}" th:object="${message}" method="post">-->

                        <!--<div class="col-md-12">-->

                            <!--<div class="form-group">-->
                                <!--<label>Title</label>-->
                                <!--<input class="form-control" type="text" id="firstName" name="firstName" th:value="*{firstName}" />-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label>Content</label>-->
                                <!--<input class="form-control" type="text" id="lastName" name="lastName" th:value="*{lastName}" />-->
                            <!--</div>-->

                            <!--<div class="form-group">-->
                                <!--<label>Receiver</label>-->
                                <!--<input class="form-control" type="text" id="username" name="username" th:value="*{username}" />-->
                            <!--</div>-->

                            <!--<button type="submit" class="btn btn-lg  btn-primary">Back to Main page</button>-->


                        <!--</div>-->


                    </div>
                    <div class="modal-footer">


                        <button type="button" class="btn btn-default">Send</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


                    </div>


                </div>

            </div>
        </div>

        <div id="page-content-wrapper">


            <div class="container-fluid">
                <!--<ul class="sidebar-nav">-->
                   <!--<li>-->

                   <!--</li>-->
                <!--</ul>-->
                <div class="col-md-12">
                    <a>
                        <span href="#menu-toggle" id="menu-toggle" class="glyphicon glyphicon-menu-hamburger"
                              aria-hidden="true"></span>
                    </a>
                    <div class="pull-right">
                        <a href="/messenger/new">
                            <span data-toggle="modal" data-target="#newModal" class="glyphicon glyphicon-pencil"></span>
                        </a>
                    </div>
                </div>
                </br>
                </br>
                <div class="col-md-3">
                    <ul class="media-list" style="max-height: 700px; overflow-y:scroll;">
                        <li class="media">
                            <div class="media-body">

                                <div class="media">

                                    <div class="col-md-6">


                                        <a class="pull-left">

                                            <img class="img-rounded" height= 110px width= 80% th:src="@{/resources/img/lee.png}"/>

                                        </a>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="media-body">
                                            <h5>David</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">

                                <div class="media">

                                    <div class="col-md-6">


                                        <a class="pull-left">

                                            <img class="img-rounded" height= 110px width= 80% th:src="@{/resources/img/p1.jpg}"/>

                                        </a>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="media-body">
                                            <h5>Josh</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">

                                <div class="media">

                                    <div class="col-md-6">


                                        <a class="pull-left">

                                            <img class="img-rounded" height= 110px width= 80% th:src="@{/resources/img/p2.jpg}"/>

                                        </a>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="media-body">
                                            <h5>Jason</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">

                                <div class="media">

                                    <div class="col-md-6">


                                        <a class="pull-left">

                                            <img class="img-rounded" height= 110px width= 80% th:src="@{/resources/img/p3.jpg}"/>

                                        </a>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="media-body">
                                            <h5>Ronak</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">

                                <div class="media">

                                    <div class="col-md-6">


                                        <a class="pull-left">

                                            <img class="img-rounded" height= 110px width= 80% th:src="@{/resources/img/p4.jpg}"/>

                                        </a>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="media-body">
                                            <h5>Sathwik</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="media">
                            <div class="media-body">

                                <div class="media">

                                    <div class="col-md-6">


                                        <a class="pull-left">

                                            <img class="img-rounded" height= 110px width= 80% th:src="@{/resources/img/p5.jpg}"/>

                                        </a>

                                    </div>

                                    <div class="col-md-6">
                                        <div class="media-body">
                                            <h5>Emma</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>

                <div th:switch="${view}">
                    <div th:case="inbox">
                        <div th:each="msg : ${messageList}">
                            <div th:switch="${msg.getIsdeleted()}">
                                <div th:case="1">
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">


                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h3 class="modal-title">
                                                        From <h3 th:text="${msg.sender}"></h3>
                                                    </h3>
                                                </div>

                                                <div class="modal-body">

                                                    <h3 th:text="${msg.title}"></h3>
                                                    <small class="text-muted">2017.10.08</small>
                                                    <hr>

                                                    <p th:text="${msg.content}"></p>


                                                </div>
                                                <div class="modal-footer">


                                                    <button type="button" class="btn btn-default">Reply</button>

                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>


                                                </div>


                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-9" style="max-height: 800px; overflow-y:scroll;">
                                        <div class="list-group list-group-item-action list-group-item-primary">
                                            <div class="list-group-item clearfix">
                                                <div data-toggle="modal" data-target="#myModal">
                                                    <h3 class="list-group-item-heading">

                                                        From: <h3 class="list-group-item-heading"
                                                                  th:text="${msg.sender}"></h3>
                                                    </h3>
                                                    <small class="text-muted">2017.10.08</small>
                                                    <hr>
                                                    <p th:text="${msg.title}"></p>

                                                </div>

                                                <div class="pull-right">


                                                <form action="" th:action="@{/messenger/inbox}" method="post">
                                                    <input name="msg_delete_in_id" id="msg_delete_in_id"
                                                           th:value="${msg.id}" hidden="hidden"/>

                                     <button name="delete" type="submit" class="btn btn-xs btn-info">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                                </form>



                                                </div>


                                                <div class="pull-right">
                                                <form action="" th:action="@{/messenger/inbox}" method="post">
                                                    <input name="msg_star_in_id" id="msg_star_in_id"
                                                           th:value="${msg.id}" hidden="hidden"/>
                                                    <button name="delete" type="submit" class="btn btn-xs btn-info">
                                                        <span class="glyphicon glyphicon-star"></span>
                                                    </button>

                                                </form>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:case="outbox">

                        <div th:each="msgo : ${messageListO}">
                            <div th:switch="${msgo.getIsdeleted()}">
                                <div th:case="1">
                                    <div class="modal fade" id="myModal" role="dialog">
                                        <div class="modal-dialog">


                                            <div class="modal-content">

                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal">&times;
                                                    </button>
                                                    <h3 class="modal-title">
                                                        To <h3 th:text="${msgo.receiver}"></h3>
                                                    </h3>
                                                </div>

                                                <div class="modal-body">

                                                    <h3 th:text="${msgo.title}"></h3>
                                                    <small class="text-muted">2017.10.08</small>
                                                    <hr>

                                                    <p th:text="${msgo.content}"></p>


                                                </div>
                                                <div class="modal-footer">


                                                    <button type="button" class="btn btn-default">Reply</button>

                                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                                        Close
                                                    </button>


                                                </div>


                                            </div>

                                        </div>
                                    </div>


                                    <div class="col-md-9">
                                        <div class="list-group list-group-item-action list-group-item-primary">
                                            <div class="list-group-item clearfix">
                                                <div data-toggle="modal" data-target="#myModal">
                                                    <h3 class="list-group-item-heading">

                                                        To: <h3 class="list-group-item-heading"
                                                                th:text="${msgo.receiver}"></h3>
                                                    </h3>
                                                    <small class="text-muted">2017.10.08</small>
                                                    <hr>
                                                    <p th:text="${msgo.title}"></p>

                                                </div>

                                                <div class="pull-right">


                                                <form action="" th:action="@{/messenger/outbox}" method="post">
                                                    <input name="msg_delete_out_id" id="msg_delete_out_id"
                                                           th:value="${msgo.id}" hidden="hidden"/>

                                                        <button name="delete" type="submit" class="btn btn-xs btn-info">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                </form>
                                                </div>

                                                <div class="pull-right">

                                                <form action="" th:action="@{/messenger/outbox}" method="post">
                                                    <input name="msg_star_out_id" id="msg_star_out_id"
                                                           th:value="${msgo.id}" hidden="hidden"/>
                                                    <button name="delete" type="submit" class="btn btn-xs btn-info">
                                                        <span class="glyphicon glyphicon-star"></span>
                                                    </button>

                                                </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div th:case="trash">

                        <div th:each="msg : ${messageListt}">
                            <div th:switch="${msg.getIsdeleted()}">
                                <div th:case="2">

                                    <div class="col-md-9">
                                        <div class="list-group list-group-item-action list-group-item-primary">
                                            <div class="list-group-item clearfix">
                                                <div data-toggle="modal" data-target="#myModal">
                                                    <h3 class="list-group-item-heading">

                                                        From: <p th:text="${msg.sender}"></p>
                                                    </h3>
                                                    <small class="text-muted">2017.10.08</small>
                                                    <hr>
                                                     <p th:text="${msg.title}"></p>

                                                </div>

                                                <form action="" th:action="@{/messenger/trash}" method="post">
                                                    <input name="msg_recover_id" id="msg_recover_id"
                                                           th:value="${msg.getId()}" hidden="hidden"/>
                                                    <span class="pull-right">

                                            <button name="delete" type="submit" class="btn btn-xs btn-info">
                                 <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                                </span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:each="msg : ${messageListto}">
                            <div th:switch="${msg.getIsdeleted()}">
                                <div th:case="2">

                                    <div class="col-md-9">
                                        <div class="list-group list-group-item-action list-group-item-primary">
                                            <div class="list-group-item clearfix">
                                                <div data-toggle="modal" data-target="#myModal">
                                                    <h3 class="list-group-item-heading">

                                                        To: <p th:text="${msg.receiver}"></p>
                                                    </h3>
                                                    <small class="text-muted">2017.10.08</small>
                                                    <hr>
                                                    <p th:text="${msg.title}"></p>

                                                </div>

                                                <form action="" th:action="@{/messenger/trash}" method="post">
                                                    <input name="msg_recover_id" id="msg_recover_id"
                                                           th:value="${msg.getId()}" hidden="hidden"/>
                                                    <span class="pull-right">

                                            <button name="delete" type="submit" class="btn btn-xs btn-info">
                                 <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                                </span>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        <div th:case="star">

                            <div th:each="msg : ${messageListsi}">
                                <div th:switch="${msg.getStar()}">
                                    <div th:case="true">
                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog">


                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;
                                                        </button>
                                                        <h3 class="modal-title">
                                                            From <h3 th:text="${msg.sender}"></h3>
                                                        </h3>
                                                    </div>

                                                    <div class="modal-body">

                                                        <h3 th:text="${msg.title}"></h3>
                                                        <small class="text-muted">2017.10.08</small>
                                                        <hr>

                                                        <p th:text="${msg.content}"></p>
                                                        <p> {{msg.id}} </p>


                                                    </div>
                                                    <div class="modal-footer">


                                                        <button type="button" class="btn btn-default">Reply</button>

                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                                            Close
                                                        </button>


                                                    </div>


                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-9" style="max-height: 800px; overflow-y:scroll;">
                                            <div class="list-group list-group-item-action list-group-item-primary">
                                                <div class="list-group-item clearfix">
                                                    <div data-toggle="modal" data-target="#myModal">
                                                        <h3 class="list-group-item-heading">

                                                            From: <h3 class="list-group-item-heading"
                                                                      th:text="${msg.sender}"></h3>
                                                        </h3>
                                                        <small class="text-muted">2017.10.08</small>
                                                        <hr>
                                                        <p th:text="${msg.title}"></p>

                                                    </div>

                                                    <div class="pull-right">



                                                    <form action="" th:action="@{/messenger/inbox}" method="post">
                                                    <input name="msg_delete_in_id" id="msg_delete_in_id"
                                                           th:value="${msg.id}" hidden="hidden"/>

                                     <button name="delete" type="submit" class="btn btn-xs btn-info">
                                    <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                                </form>
                                                    </div>

                                                    <div class="pull-right">




                                                    <form action="" th:action="@{/messenger/star}" method="post">
                                                    <input name="msg_unstar_id" id="msg_unstar_id"
                                                           th:value="${msg.id}" hidden="hidden"/>


                                                </form>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div th:each="msgo : ${messageListso}">
                                <div th:switch="${msgo.getStar()}">
                                    <div th:case="true">
                                        <div class="modal fade" id="myModal" role="dialog">
                                            <div class="modal-dialog">


                                                <div class="modal-content">

                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;
                                                        </button>
                                                        <h3 class="modal-title">
                                                            To <h3 th:text="${msgo.receiver}"></h3>
                                                        </h3>
                                                    </div>

                                                    <div class="modal-body">

                                                        <h3 th:text="${msgo.title}"></h3>
                                                        <small class="text-muted">2017.10.08</small>
                                                        <hr>

                                                        <p th:text="${msgo.content}"></p>


                                                    </div>
                                                    <div class="modal-footer">


                                                        <button type="button" class="btn btn-default">Reply</button>

                                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                                            Close
                                                        </button>


                                                    </div>


                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-9">
                                            <div class="list-group list-group-item-action list-group-item-primary">
                                                <div class="list-group-item clearfix">
                                                    <div data-toggle="modal" data-target="#myModal">
                                                        <h3 class="list-group-item-heading">

                                                            To: <h3 class="list-group-item-heading"
                                                                    th:text="${msgo.receiver}"></h3>
                                                        </h3>
                                                        <small class="text-muted">2017.10.08</small>
                                                        <hr>
                                                        <p th:text="${msgo.title}"></p>

                                                    </div>
                                                    <div class="pull-right">


                                                    <form action="" th:action="@{/messenger/outbox}" method="post">
                                                        <input name="msg_delete_out_id" id="msg_delete_out_id"
                                                               th:value="${msgo.id}" hidden="hidden"/>

                                                        <button name="delete" type="submit" class="btn btn-xs btn-info">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                        </button>
                                                    </form>
                                                    </div>
                                                    <div class="pull-right">

                                                    <form action="" th:action="@{/messenger/star}" method="post">
                                                        <input name="msg_unstar_id" id="msg_unstar_id"
                                                               th:value="${msgo.id}" hidden="hidden"/>


                                                    </form>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    <div th:case="new">

                        <div class="col-md-9">
                            <form action="" th:action="@{/messenger/new}" th:object="${message}" method="post">

                                <div class="form-group">
                                    <label>Receiver's Username</label>
                                    <input id="receiver" type="text" class="form-control" name="receiver"
                                           placeholder="put the recipient username here" th:value="*{receiver}">
                                </div>


                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" class="form-control" name="title"
                                           placeholder="put the message title here" th:value="*{title}">
                                </div>

                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea class="form-control" name="content"
                                              placeholder="put the message content here" th:value="*{content}"></textarea>

                                </div>


                                <div class="col-md-1">
                                    <button name="send" type="submit" class="btn btn-sm  btn-primary">Send</button>
                                </div>

                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!-- /#wrapper -->
    <th:block layout:fragment="scripts">


    <script th:src="@{/resources/js/popper.min.js}"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    </th:block>

</div>


</body>
</html>