<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags"
      xmlns:form="http://www.springframework.org/tags/form"
      layout:decorate="~{base}">
<head>
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/resources/css/LandingPage.css}">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">

    <!--<h3>Welcome, Enter The Employee Details</h3>-->
    <!--<form:form method="POST" action="/register" modelAttribute="user">-->
        <!--<table>-->
            <!--<tr>-->
                <!--&lt;!&ndash;<td><form:label path="firstName">First Name</form:label></td>&ndash;&gt;-->
                <!--<td><form:input type="text" path="firstName" name="firstName" id="firstName"/></td>-->
                <!--&lt;!&ndash;<td><input type='text' class="form-control" name="username" placeholder="Username"</td>&ndash;&gt;-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><form:label path="lastName">Last Name</form:label></td>-->
                <!--<td><form:input path="lastName" name="lastName" id="lastName"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><form:label path="username">Username</form:label></td>-->
                <!--<td><form:input path="username" name="username" id="username"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><form:label path="password">Password</form:label></td>-->
                <!--<td><form:input path="password" name="password" id="password"/></td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td><input type="submit" value="Submit"/></td>-->
            <!--</tr>-->
        <!--</table>-->
    <!--</form:form>-->

    <h3>Welcome</h3>

    <form action="#" th:action="@{/register}" th:object="${user}" method="post">

    <div class="col-md-12">
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" type="text" id="firstName" name="firstName" th:value="*{firstName}" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" type="text" id="lastName" name="lastName" th:value="*{lastName}" />
        </div>

        <div class="form-group">
            <label>Username</label>
            <input class="form-control" type="text" id="username" name="username" th:value="*{username}" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input class="form-control" type="password" id="password" name="password" th:value="*{password}" />
        </div>

        <div class="form-group">
            <label>Street</label>
            <input class="form-control" type="text" id="street" name="street" />
        </div>

        <div class="form-group">
            <label>City</label>
            <input class="form-control" type="text" id="city" name="city" />
        </div>

        <div class="form-group">
            <label>State</label>
            <input class="form-control" type="text" id="state" name="state" />
        </div>

        <div class="form-group">
            <label>Country</label>
            <input class="form-control" type="text" id="country" name="country" />
        </div>


        <button type="submit" class="btn btn-lg  btn-primary">Join Game On</button>

    </div>

    </form>

</div>
</body>
</html>
