<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Search</title>
    <link rel="stylesheet" th:href="@{/resources/css/search.css}">
</head>
<body>
<div id="wrapper" layout:fragment="content">
    <div class="front-wrapper">
        <div class="row search-wrapper">
            <input data-url="/api/search/" id="search-input"
                   class="search-input col-md-3 col-xs-12"
                   type="text"
                   placeholder="Search">
        </div>
        <div class="row search-results-wrapper">
            <div id="results" class="search-results">

            </div>
        </div>
    </div>
    <div id="map"></div>
</div>
<th:block layout:fragment="scripts">
    <script id="search-results-template" type="text/x-handlebars-template">
        {{#results}}
        <div class="search-result"
             data-key="{{@index}}"
             data-pk="{{id}}"
             data-lat="{{lat}}"
             data-lng="{{lng}}">
            <h4>{{name}}</h4>
            <p>${{price}}</p>
        </div>
        {{/results}}
        {{^results}}
        <h4>{{msg}}{{^msg}}No results found.{{/msg}}</h4>
        {{/results}}
    </script>
    <script th:src="@{/resources/js/search.js}" ></script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsA9XtShtKkVC11syeDEwgh0IAl6vln5o&callback=initMap">
    </script>
</th:block>
</body>
</html>