<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>Single Listing | GameOn</title>
    <link rel="stylesheet" th:href="@{/resources/css/UserDashboard.css}">
</head>
<body>
<div layout:fragment="content">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">

            <div class="navbar-header">
                <a class="navbar-brand topnav home" href="#about" type="button" id="login" data-toggle="modal" data-target="#loginform">Login</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="home">Home</a>
                    </li>
                    <li>
                        <a href="#" class="home">About</a>
                    </li>
                    <li>
                        <a href="#" class="home">Services</a>
                    </li>
                    <li>
                        <a href="#" class="home">Join Us</a>
                    </li>

                    <li>
                        <a href="#" class="home">Contact</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    <div class = "panel panel-info page-top">
        <div class = "panel-heading clearfix">
            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Listing Info</h4>
        </div>

        <div class = "panel-body">
            <strong class="home" style="margin:0;display:inline">Name: </strong>
            <p class="home" style="margin:0;display:inline" th:text="${listing.getName()}"></p>
            <br>
            <strong class="home" style="margin:0;display:inline">Description: </strong>
            <p class="home" style="margin:0;display:inline" th:text="${listing.getDescription()}"></p>
            <br>
            <strong class="home" style="margin:0;display:inline">Keywords: </strong>
            <p class="home" style="margin:0;display:inline" th:text="${listing.getKeywords()}"></p>
            <br>
            <strong class="home" style="margin:0;display:inline">Price: </strong>
            <p class="home" style="margin:0;display:inline" th:text="${listing.getPrice()}"></p>
            <br>
        </div>
    </div>



</div>
</body>

</html>