<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{base}">
<head>
    <title>User Dashboard | GameOn</title>
    <link rel="stylesheet" th:href="@{/resources/css/UserDashboard.css}">
    <script th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script th:src="@{/resources/js/jquery.min.js}"></script>
</head>
<body>
<div layout:fragment="content">
        <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
            <div class="container topnav">

                <div class="navbar-header">
                    <a class="navbar-brand topnav home" href="#about" type="button" id="login" data-toggle="modal" data-target="#loginform">Login</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#" class="home">Home</a>
                        </li>
                        <li>
                            <a href="#" class="home">About</a>
                        </li>
                        <li>
                            <a href="#" class="home">Services</a>
                        </li>
                        <li>
                            <a href="#" class="home">Join Us</a>
                        </li>

                        <li>
                            <a href="#" class="home">Contact</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    <div class="page-top"></div>
        <div class="container">
            <div class="row">
                <div class = "col-md-4">
                    <div class = "panel panel-info">
                        <div class = "panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Listings you have made</h4>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a class="btn btn-default pull-right" type="button" id="listingadd" data-toggle="modal" data-target="#listingform">Add Listing</a>
                                </div>
                            </div>

                        </div>

                        <div class = "panel-body">

                            <div th:if="${is_list}">
                            <div th:each="list: ${listings}">
                                <strong class="home" style="margin:0;display:inline">Name: </strong>
                                <p class="home" style="margin:0;display:inline" th:text="${list.getName()}"></p>
                                <br>
                                <strong class="home" style="margin:0;display:inline">Description: </strong>
                                <p class="home" style="margin:0;display:inline" th:text="${list.getDescription()}"></p>
                                <br>
                                <strong class="home" style="margin:0;display:inline">Keywords: </strong>
                                <p class="home" style="margin:0;display:inline" th:text="${list.getKeywords()}"></p>
                                <br>
                                <strong class="home" style="margin:0;display:inline">Price: </strong>
                                <p class="home" style="margin:0;display:inline" th:text="${list.getPrice()}"></p>
                                <br>
                                <hr>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class = "col-md-8">
                    <div class = "panel panel-info">
                        <div class = "panel-heading clearfix">
                            <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Profile</h4>
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <a class="btn btn-default pull-right" type="button" id="update_user" data-toggle="modal" data-target="#updateuser">Update</a>
                                </div>
                            </div>

                        </div>
                        <div class = "panel-body">
                            <div class="container">
                                <div class="row">
                                    <div class = "col-md-2">
                                        <img class="img-responsive img-rounded" th:src="@{/resources/img/chief.jpg}" style="width:150px; height:100%">
                                    </div>
                                    <div class = "col-md-10">
                                        <strong class="home" style="margin:0;display:inline">Username: </strong>
                                        <p class="home" style="margin:0;display:inline" th:text="${user.username}"></p>
                                        <br>
                                        <strong class="home" style="margin:0;display:inline">First name: </strong>
                                        <p class="home" style="margin:0;display:inline" th:text="${user.firstName}"></p>
                                        <br>
                                        <strong class="home" style="margin:0;display:inline">Last name: </strong>
                                        <p class="home" style="margin:0;display:inline" th:text="${user.lastName}"></p>
                                        <br>
                                        <strong class="home" style="margin:0;display:inline">Address: </strong>
                                        <p class="home" style="margin:0;display:inline" th:text="${user.getAddress().toString()}"></p>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<th:block layout:fragment="modals">
    <div class="modal fade" id="listingform" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="text-center">
                        <h4><span class="glyphicon glyphicon-plus"></span> Add Listing</h4>
                    </div>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div>
                        <form action="#" th:action="@{/AddListing}" th:object="${listing}" method="post">
                            <div >
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" id="name" name="name" th:value="*{name}" />
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control" type="text" id="description" name="description" th:value="*{description}" />
                                </div>

                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" type="text" id="price" name="price" th:value="*{price}" />
                                </div>

                                <div class="form-group">
                                    <label>Keywords</label>
                                    <input class="form-control" type="text" id="keywords" name="keywords" th:value="*{keywords}" />
                                </div>

                                <button type="submit" class="btn btn-success btn-block" name="login"><span
                                        class="glyphicon glyphicon-plus"></span> List it!
                                </button>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateuser" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header" style="padding:35px 50px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div class="text-center">
                        <h4><span class="glyphicon glyphicon-plus"></span> Update User</h4>
                    </div>
                </div>
                <div class="modal-body" style="padding:40px 50px;">
                    <div>
                        <form action="#" th:action="@{/UpdateUser}" method="post">
                            <div >
                                <div class="form-group">
                                    <label>First Name:</label>
                                    <input class="form-control" type="text" id="firstName" name="firstName" th:value="*{user.firstName}" />
                                </div>

                                <div class="form-group">
                                    <label>Last Name:</label>
                                    <input class="form-control" type="text" id="lastName" name="lastName" th:value="*{user.lastName}" />
                                </div>


                                <div class="form-group">
                                    <label>Street</label>
                                    <input class="form-control" type="text" id="street" name="street" th:value="*{user.getAddress().getStreet()}" />
                                </div>


                                <div class="form-group">
                                    <label>City</label>
                                    <input class="form-control" type="text" id="city" name="city" th:value="*{user.getAddress().getCity()}" />
                                </div>

                                <div class="form-group">
                                    <label>State</label>
                                    <input class="form-control" type="text" id="state" name="state" th:value="*{user.getAddress().getState()}" />
                                </div>

                                <div class="form-group">
                                    <label>Country</label>
                                    <input class="form-control" type="text" id="country" name="country" th:value="*{user.getAddress().getCountry()}" />
                                </div>
                                <button type="submit" class="btn btn-success btn-block" name="update"><span
                                        class="glyphicon glyphicon-plus"></span> Update
                                </button>


                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>



</body>
</html>