/* Rectangle 12: */
/* Trash : */
.font1 {
    font-family: Avenir-Book;
    font-size: 36px;
}

.sidebar-font {
    /* Inbox : */
    font-family: Avenir-Book;
    font-size: 36px;
    color: #FFFFFF;

}
.sidebar-line {
    /* Line: */
    border: 1px solid #58B8E4;

}
/* Oval 2: */
/* Sketch doesnt export pattern fills at this point */
/* Nancy Fisher: */
.font-avenir {
    font-family: Avenir-Medium;
    font-size: 28px;
    color: #212121;
}
/* 1 min ago: */
.font-min {
    font-family: Avenir-Book;
    font-size: 20px;
    color: #727272;
}
/* Line: */
.line-me {
    border: 1px solid #DEDEDE;
}

.textfont {
    /* Nam porttitor blandi: */
    font-family: Avenir-Book;
    font-size: 22px;
    color: #B6B6B6;
}

.form {
    display: inline-block;
}



/* 34: */
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/
/*!* noun_inbox_30404: *!*/
/*background: #FFFFFF;*/
/*!* Line: *!*/
/*border: 2px solid #58B8E4;*/
/*!* Star: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 36px;*/
/*color: #FFFFFF;*/
/*!* 345: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/
/*!* noun_inbox_30404: *!*/
/*background: #FFFFFF;*/
/*!* Line: *!*/
/*border: 2px solid #58B8E4;*/
/*!* Outbox: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 36px;*/
/*color: #FFFFFF;*/
/*!* 3: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/
/*!* noun_inbox_30404: *!*/
/*background: #FFFFFF;*/
/*!* Line: *!*/
/*border: 2px solid #58B8E4;*/
/*!* Drafts : *!*/
/*font-family: Avenir-Book;*/
/*font-size: 36px;*/
/*color: #FFFFFF;*/
/*!* 0: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/
/*!* noun_inbox_30404: *!*/
/*background: #FFFFFF;*/
/*!* Line: *!*/
/*border: 2px solid #58B8E4;*/
/*!* Sent : *!*/
/*font-family: Avenir-Book;*/
/*font-size: 36px;*/
/*color: #FFFFFF;*/
/*!* 32: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/
/*!* noun_send_113254: *!*/
/*background: #FFFFFF;*/
/*!* Line: *!*/
/*border: 2px solid #58B8E4;*/
/*!* Inbox : *!*/
/*font-family: Avenir-Book;*/
/*font-size: 36px;*/
/*color: #FFFFFF;*/
/*!* 21: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/
/*!* noun_inbox_30404: *!*/
/*background: #FFFFFF;*/
/*!* Line: *!*/
/*border: 2px solid #58B8E4;*/
/*!* Oval 24: *!*/
/*!* Sketch doesnt export pattern fills at this point *!*/
/*border: 5px solid #5FBEEA;*/
/*!* Pamela Hunt: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 34px;*/
/*color: #FFFFFF;*/
/*!* example@example.com: *!*/
/*font-family: Avenir-Book;*/
/*font-size: 24px;*/
/*color: #FFFFFF;*/

/* Background: */
background: #050E12;
