html,
body {
    height: 100%;
}

#wrapper,
#map {
    height: 100%;
    width: 100%;
}

.front-wrapper {
    position: fixed;
    z-index: 1;
    width: 300px;
    height: 100%;
}

.front-wrapper .search-wrapper {
    padding: 10px;
}

.front-wrapper .search-wrapper #search-input {
    width: 100%;
    height: 36px;
    padding-left: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.front-wrapper .search-wrapper #search-input:focus {
    outline: none;
}

.front-wrapper .search-results-wrapper {
    display: none;
}

.front-wrapper .search-wrapper,
.front-wrapper.results-wrapper .search-results-wrapper {
    margin-left: 0;
    margin-right: 0;
}

.front-wrapper.results-wrapper .search-results-wrapper {
    display: flex;
    flex-grow: 1;
    overflow-y: scroll;
}

.front-wrapper.results-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.front-wrapper.results-wrapper .search-wrapper {
    background-color: rgb(66, 63, 140);
}

.front-wrapper.results-wrapper .search-results-wrapper .search-results {
    margin: 0;
    padding: 10px;
    width: 100%;
}

.front-wrapper.results-wrapper .search-results-wrapper .search-results .search-result{
    border-bottom: 1px solid #b0b0b0;
    width: 100%;
}