
.page-top{
    padding-top: 75px;
}

/* Rectangle: */

.bar {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}

/* HOME: */
.home {
    font-family:. AppleSystemUIFont;
    font-size: 12px;
    color: #48555B;
    letter-spacing: 1.09px;
}
/* ABOUT: */
.about {
    font-family: . AppleSystemUIFont;
    font-size: 12px;
    color: #00A4E5;
    letter-spacing: 1.09px;
}

/* Join Us Now: */
.join-font {
    font-family: Chalkduster;
    font-size: 30px;
    color: #A6EB19;
    letter-spacing: 0.15px;
    line-height: 36px;
}

.head-font {
    /* Game On: */
    font-family: Chalkduster;
    font-size: 48px;
    color: #3C3A34;
    letter-spacing: 0.15px;
}

/* GET IN TOUCH: */
.button-font {
    font-family: . AppleSystemUIFont;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}

/* Rectangle 3: */

/*!* Logo: *!*/
/*font-family: Helvetica;*/
/*font-size: 18px;*/
/*color: #48555B;*/
/*letter-spacing: 2.31px;*/


/* OUR STORY: */
.story {
    font-family: Helvetica;
    font-size: 18px;
    color: #48555B;
    letter-spacing: 2.31px;
}
/* Line: */
.line {
    border: 2px solid #00A4E5;
}
/* Start up project, ap: */
.font-1 {
    font-family: Helvetica;
    font-size: 20px;
    color: #48555B;
    letter-spacing: 0.19px;
}
/* our team finds that: */
.font-2 {

    font-family: Helvetica;
    font-size: 13px;
    color: #48555B;
    letter-spacing: 0.19px;
    line-height: 23px;
}
/* Rectangle 2: */
.rectangel {
    background: #D8D8D8;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.30);
}
/* Bitmap: */
/* WE SHARE: */
.bitmap {
    font-family: Helvetica;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0.19px;
    line-height: 29px;
}





body,
html {
    width: 100%;
    height: 100%;
}

.topnav {
    font-size: 14px;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/GameOn.jpg) no-repeat center center;
    background-size: cover;
}

.intro-head {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/head.jpg) no-repeat center center;
    background-size: cover;
}


.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}


.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}